{% extends 'menu.html' %}
{% load static %}
{% block head %}
    <title>Course</title>
    <link rel="stylesheet" href="{% static '/Css/Teacher/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
{% endblock %}
{% block lower_section %}
    <div class="create_course_section">
        <div class="crud_close_section">
            <div class="close_crud_button" id="close_crud_button">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
            </div>
        </div>
        <div class="create_and_update_course_section">
            <form >
                {% csrf_token %}
            </form>
            <div class="create_course_add">
                <input type="text" id="course_name" placeholder="Type Course Name">
                <input type="file" id="files" name="files" multiple>
                <button id="create_course" >Upload</button>
            </div>
        </div>
    </div>
    <div class="all_courses_section">
        <div class="individual_course_section">
            <div class="course_cover_section">
                <img src="{% static 'Images\Bug fixing-rafiki 1.png' %}" alt="cover_section-used">
                <div class="status_approval">
                    <span>Pending</span>
                </div>
            </div>
            <div class="course_name">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
            <div class="course_date_button">
                <div class="course_date">
                    <span>17 Oct 2024</span>
                </div>
                <div class="course_controls">
                    <div class="course_update">
                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.481 15.659c-1.334 3.916-1.48 4.232-1.48 4.587 0 .528.46.749.749.749.352 0 .668-.137 4.574-1.492zm1.06-1.061 3.846 3.846 11.321-11.311c.195-.195.293-.45.293-.707 0-.255-.098-.51-.293-.706-.692-.691-1.742-1.74-2.435-2.432-.195-.195-.451-.293-.707-.293-.254 0-.51.098-.706.293z" fill-rule="nonzero"/></svg>
                    </div>
                    <div class="course_delete">
                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/></svg>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javaS %}
<script type="module" src="{% static 'js/Teacher/course.js' %}"></script>
{% endblock %}